body {
  /*background-color: white;*/
  background-image: linear-gradient(#ccc, white);
  font-family: "Jost", sans-serif;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

footer {
  font-size: 0.75em;
  text-align: center;
}

.main_info {
  font-size: 1.3em;
}

#found-location,
#coordinates {
  font-size: 1.1em;
  font-weight: 500;
}

#current-conditions {
  font-size: 1.1em;
  font-weight: 300;
}

#forecast_range_and_results .btn {
  font-size: 1.5em;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: 0px;
  width: 33%;
  line-height: 0.9em;
}

/* .light-shade {
  background-color: #eee;
} */

.daily-min-max,
.solar-times {
  font-size: small;
  font-style: italic;
}

#settings .form-label {
  font-weight: 600;
}

#absolute_hours .btn,
#sun_hours .btn {
  border-radius: 0px;
  border: 0px;
}

.btn-time:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.3);
}
